input:checked~img {
  /* 1 nếu muốn biến mất khỏi 
  giap diện
  display:none;
   */

  /* biến khỏi giao diện, nhưng vẫn chiếm vị trí */
  /* visibility: hidden; */
  /* 3. làm mờ  */
  opacity: 50%;
}

img {
  transition: 1.5s;
}